<h2 align="center">Score: <%= @article.score %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center description"><strong>Comment:</strong></h4>
    <hr>
    <%= simple_format(@article.comment) %>
       <div class"article-actions">
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%#= link_to "Back", articles_path, class: "btn btn-danger" %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-success" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
            </div>
        <% end %>
    </div>

 
    




