<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://www.wsp-pb.com/en/WSP-UK/?_ga=2.176732131.735298241.1504125720-2037321440.1504125720">WSP Health App</a>
            by <a href="https://www.linkedin.com/in/kelvin-sc-yeung-13885839/">Kelvin Yeung</a>
        </small>
    </footer>
</div>